@model Message

<form asp-controller="AdminMessages" asp-action="SubmitMessage" method="post" class="bg-secondary rounded p-5">
    <div class="row g-3">
        <div class="col-12">
            <select asp-for="CarType" class="form-select" aria-label="Arabanızın modelini seçin" required>
                <option value="" disabled selected>Arabanızın modelini seçin</option>
                <option value="VW Golf VII">VW Golf VII</option>
                <option value="Audi A1 S-Line">Audi A1 S-Line</option>
                <option value="Toyota Camry">Toyota Camry</option>
                <option value="BMW 320 ModernLine">BMW 320 ModernLine</option>
            </select>
            <span asp-validation-for="CarType" class="text-danger"></span>
        </div>
        <div class="col-12">
            <div class="input-group">
                <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                    <span class="fas fa-map-marker-alt"></span>
                    <span class="ms-1">Aracınızı teslım edin</span>
                </div>
                <input asp-for="PickUp" class="form-control" type="text" placeholder="Bir şehir giriniz" aria-label="Enter a City or Airport" required />
            </div>
            <span asp-validation-for="PickUp" class="text-danger"></span>
        </div>
        <div class="col-12">
           
            <div class="input-group">
                <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                    <span class="fas fa-map-marker-alt"></span>
                    <span class="ms-1">Aracınızı teslim alın</span>
                </div>
                <input asp-for="DropOff" class="form-control" type="text" placeholder="Bir şehir giriniz" aria-label="Enter a City or Airport" required />
            </div>
            <span asp-validation-for="DropOff" class="text-danger"></span>
        </div>
        <div class="col-12">
            <div class="input-group">
                <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                    <span class="fas fa-calendar-alt"></span>
                    <span class="ms-1">Aracınızı teslim alın</span>
                </div>
                <input asp-for="PickTime" class="form-control" type="datetime-local" required />
            </div>
            <span asp-validation-for="PickTime" class="text-danger"></span>
        </div>
        <div class="col-12">
            <div class="input-group">
                <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                    <span class="fas fa-calendar-alt"></span>
                    <span class="ms-1">Aracınızı teslim edin</span>
                </div>
                <input asp-for="DropTime" class="form-control" type="datetime-local" required />
            </div>
            <span asp-validation-for="DropTime" class="text-danger"></span>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-light w-100 py-2">Rezervasyon Yap</button>
        </div>
        @Html.AntiForgeryToken()
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
